---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps.ops.dev
  resources:
  - namespacelifecyclepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.ops.dev
  resources:
  - namespacelifecyclepolicies/finalizers
  verbs:
  - update
- apiGroups:
  - apps.ops.dev
  resources:
  - namespacelifecyclepolicies/status
  verbs:
  - get
  - patch
  - update
