apiVersion: apps.ops.dev/v1alpha1
kind: NamespaceLifecyclePolicy
metadata:
  labels:
    app.kubernetes.io/name: app-lifecycle-kubernetes-operator
    app.kubernetes.io/managed-by: kustomize
  name: namespacelifecyclepolicy-sample
spec:
  # TODO(user): Add fields here
