apiVersion: apps.ops.dev/v1alpha1
kind: NamespaceLifecyclePolicy
metadata:
  labels:
    app.kubernetes.io/name: app-lifecycle-kubernetes-operator
    app.kubernetes.io/managed-by: kustomize
  name: namespacelifecyclepolicy-sample
spec:
  targetNamespace: production
  action: Resume
  operationId: "op-12345678 "
  startupPolicy: Ignore
  # selector is optional - if not specified, all Deployments and StatefulSets will be affected
  # selector:
  #   matchLabels:
  #     app: myapp
  #     environment: production
  #   matchExpressions:
  #   - key: tier
  #     operator: In
  #     values:
  #     - frontend
  #     - backend
