apiVersion: apps.ops.dev/v1alpha1
kind: NamespaceLifecyclePolicy
metadata:
  name: nlp
spec:
  targetNamespace: test-ns
  action: Resume
  operationId: "op-20231215-016"
  selector:
    matchLabels:
      app: test
  startupPolicy: Resume
  balancePods: true
  balanceWindowSeconds: 600