apiVersion: apps.ops.dev/v1alpha1
kind: NamespaceLifecyclePolicy
metadata:
  name: nlp
spec:
  targetNamespace: test-ns
  action: Freeze
  operationId: "op-019"
  selector:
    matchLabels:
      app: test
  startupPolicy: Resume
  balancePods: true
  balanceWindowSeconds: 300
  terminationGracePeriodSeconds:
    deployment: 15
    statefulSet: 30
  startupNodeReadinessPolicy:
    enabled: true
    timeoutSeconds: 120         # Wait max 2 minutes for nodes
    requireAllNodes: true        # REQUIRED: true = all nodes, false = use minReadyNodes
    #minReadyNodes: 2             # Only used when requireAllNodes: false
    nodeSelector:
      node-role.kubernetes.io/worker: ""