apiVersion: apps.ops.dev/v1alpha1
kind: NamespaceLifecyclePolicy
metadata:
  name: nlp
spec:
  targetNamespace: test-ns
  action: Freeze
  operationId: "op-20231215-020"
  selector:
    matchLabels:
      app: test
  startupPolicy: Freeze
  balancePods: true
  balanceWindowSeconds: 500
  terminationGracePeriodSeconds:
    deployment: 15
    statefulSet: 30