apiVersion: apps.ops.dev/v1alpha1
kind: NamespaceLifecyclePolicy
metadata:
  name: nlp
spec:
  targetNamespace: test-ns
  action: Resume
  operationId: "op-007"
  selector:
    matchLabels:
      app: test
  startupPolicy: Resume
  balancePods: true
  balanceWindowSeconds: 300
  terminationGracePeriodSeconds:
    deployment: 15
    statefulSet: 30